{% extends 'base.html.twig' %}

{% block title %}Menu Patient{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour NOM_PATIENT</h1>
    <br>
    <p>Veuillez choisir une fonctionnalité dans la liste :</p>
    <form action="{{ url }}demande">
        <input type="submit" value="Demander un rendez-vous">
    </form>
    <br>
    <form action="{{ url }}consult">
        <input type="submit" value="Consulter vos rendez-vous">
    </form>
</div>
{% endblock %}
