{% extends 'base.html.twig' %}

{% block title %}Hello MedecinController!{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour séduisant Docteur {{ controller_name }}! ✅</h1>
</div>

<a href="{{path('medecin_consultation_rdv')}}">
    <input class="bouton-choix-fonction" type="button" value="Consultez mes rendez-vous"></input>
</a>

{% endblock %}
